:root{
    --primary: #fc758c;
    --fill: #fff;
    --text: #b1b1b1;
    --monserrat: 'Montserrat', sans-serif;
    --questry:'Questrial', sans-serif;
}
footer{
    margin: 3rem 0 ;
    color: var(--text);
}
.rights{
    margin-bottom: 3rem;
    
}
p > span{
    color: var(--primary);
    font-weight: bold;
}